<!-- Creates an embedded a-frame virtual reality scene element.
  - sets up controller tracking, models, and haptics.
  -places an interactable box object in the scene
-->
<a-scene #theScene embedded style="position: absolute; height: 90vh;">
  <a-assets></a-assets>
  <a-entity>
    <a-camera></a-camera>
    <a-entity class="controller" guide sphere-collider="radius: 0.001;" super-hands oculus-touch-controls="hand: left;" haptics="force: 0"></a-entity>
    <a-entity class="controller" guide sphere-collider="radius: 0.001;" super-hands oculus-touch-controls="hand: right;" haptics="force: 0"></a-entity>
  </a-entity>
</a-scene>


