<div class="summaries">
  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let summaryGroup of summaryGroups" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ summaryGroup.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="summary-container" *ngFor="let summary of summaryGroup.summaries">
        ({{summary.validity | number: '1.2-2'}}) <p class="summary" [innerHTML]="summary.text"></p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
