@import "../../utils/constants";

:host {
  @include card-section;
  display: block;

  .summary-container {
    font-size: $font-size-medium;
    line-height: 2em;
  }

  .summary {
    display: inline-block;
    margin: 0;
  }

  .summary::first-letter {
    text-transform: uppercase;
  }
}
