@import "../../utils/constants";

:host {
  @include card-section;
  display: block;

  .summaries {
    .mat-list-item {
      height: auto;
      min-height: 2.5em;
    }

    .panel-controls {
      margin-bottom: 1rem;
      display: flex;
      justify-content: flex-end;

      .toggles-controls {
        button {
          margin-right: 8px;
        }
      }
    }

    .summary-container {
      font-size: $font-size-medium;
      line-height: 2em;
    }

    .summary-text {
      display: inline-block;
      margin: 0;

      ::ng-deep {
        .summary-variable {
          color: red;
          font-weight: bold;
        }
      }
    }

    .summary-text::first-letter {
      text-transform: uppercase;
    }

    .summary-validity {
      margin-right: 10px;
    }
  }
}
