@import "../../utils/constants";

:host {
  @include card-section;
  display: block;

  .instructions {
    font-size: $font-size-small;
    line-height: 2em;
    margin-bottom: .5rem;
  }

  .live-text {
    color: $color-highlight;
    font-weight: 500;

    &:before {
      content: '🔊 ';
    }
  }
}
