<h2 class="card-title">{{title}}</h2>
<div class="card-content">
  <div class="tabs" *ngIf="tabbed">
    <div *ngFor="let measureName of measureNames"
         class="tab" [class.active]="measureName === currentMeasureName"
         (click)="setMeasureName(measureName)" role="button">
      {{humanizeMeasureName(measureName)}}
    </div>
  </div>
  <app-line-chart role="img" appAudification
                  [measureName]="currentMeasureName"
                  [attr.aria-label]="VISUALIZATION"></app-line-chart>
</div>
