@import "../../utils/constants";

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .card-title {
    font-size: $font-size-large;
    margin: 1rem 0;
  }

  .card-content {
    @include card-shadow;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 2px;
    background-color: white;
  }
}
