@import "../../utils/constants";

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .card-title {
    font-size: $font-size-large;
    margin: 1rem 0;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
    border-radius: 2px;
    padding: 2rem;
    background-color: white;
  }
}
