<h2 class="card-title">{{title}}</h2>
<div class="card-content">
  <div class="tabs" *ngIf="tabbed">
    <div *ngFor="let measureName of measureNames"
         class="tab" [class.active]="measureName === currentMeasureName"
         (click)="setMeasureName(measureName)" role="button">
      {{humanizeMeasureName(measureName)}}
    </div>
  </div>
  <ng-container [ngSwitch]="type">
    <app-line-chart *ngSwitchCase="'line'"
                    [measureNames]="[currentMeasureName]"
                    appAudification></app-line-chart>
  </ng-container>
</div>
