@import '~@angular/material/theming';

$guide-doge-primary: mat-palette($mat-blue);
$guide-doge-warn: mat-palette($mat-red);
$guide-doge-theme: mat-light-theme($guide-doge-primary, $guide-doge-primary, $guide-doge-warn);

$color-background: rgb(248, 249, 250);
$color-border: rgb(218, 220, 224);
$color-font: rgb(34, 34, 34);

$font-size-large: 24px;
$font-size-medium: 16px;
$font-size-small: 12px;

@mixin card-section {
  padding: 1.5rem;

  &:not(:first-child) {
    border-top: 1px solid $color-border;
  }
}
