$color-background: rgb(248, 249, 250);
$color-border: rgb(218, 220, 224);
$color-font: rgb(34, 34, 34);
$color-highlight: rgb(66, 133, 244);
$color-positive: rgb(15, 157, 88);
$color-negative: rgb(219, 68, 55);

$font-size-large: 24px;
$font-size-medium: 16px;
$font-size-small: 12px;

@mixin card-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
}
