<a-scene #ascene embedded style="position: absolute;">
    <a-entity id="rig" rotation="0 -135 0">
        <a-camera mouse-cursor>
            <a-cursor position="0 0 -1"></a-cursor>
        </a-camera>
        <a-cursor position="0 0 -1"></a-cursor>
        <a-entity raycaster laser-controls="hand: right"></a-entity>
  </a-entity>
</a-scene>
<aside class="sidebar">
    <h2 class="sidebar-title">Customization</h2>
    <app-preference-group [preference$]="dataset$" [i18n]="DATA_PREFERENCE" alwaysEnabled="true">
    </app-preference-group>
</aside>
