
.chip {
  color: #ffffff;
  height: 1px;
  min-height: 26px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 7px 10px;
  display: inline-flex;
  align-items: center;

  .text {
    opacity: 0;
    max-width: 0px;
    border-right: 2px solid #ffffff;
  }
}

