@import "../../utils/constants";

:host {
  position: relative;
  display: block;
  padding: 1.5rem;

  .active-indicator {
    @include card-shadow;
    position: absolute;
    font-weight: 500;
    padding: 1rem;
    background-color: white;
    white-space: nowrap;
    color: $color-highlight;
    opacity: 0;
  }
}
