@import "../../utils/constants";

:host {
  display: flex;
  flex-direction: column;

  .svg-wrapper {
    box-sizing: content-box;
    position: relative;
    margin: 1.5rem;

    .active-indicator {
      position: absolute;
      font-weight: 500;
      background-color: white;
      white-space: nowrap;
      color: mat-color($guide-doge-primary);
      opacity: 0;
    }
  }
}
