@import "../../utils/constants";

:host {
  flex: 1;
  display: flex;
  overflow: hidden;

  .sidebar {
    padding: 1rem;
    width: 20rem;
    border-right: 1px solid $color-border;
    overflow-x: hidden;
    overflow-y: auto;

    .sidebar-title {
      font-size: $font-size-large;
      margin: 1rem 0;
    }

    app-preference {
      margin: 0 -1rem;
      margin-bottom: .5rem;

      label {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding: 0 1rem;
        cursor: pointer;

        span {
          margin: 1rem 1rem 1rem 0;
        }

        input {
          flex: 1;
          text-align: right;
        }

        app-switch {
          align-self: center;
        }
      }
    }
  }

  .card-container {
    display: flex;
    flex: 1 0;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-left: 1rem;
    overflow-y: auto;

    > * {
      margin-bottom: 1rem;
      margin-right: 1rem;
    }
  }
}
