<aside class="sidebar">
  <h2 class="sidebar-title">Customization</h2>
  <app-preference-group [preference$]="dataset$" [i18n]="DATA_PREFERENCE" alwaysEnabled="true">
  </app-preference-group>
  <app-preference-group [preference$]="audification$" [i18n]="AUDIFICATION_PREFERENCE">
  </app-preference-group>
  <app-preference-group [preference$]="dataTable$" [i18n]="DATA_TABLE_PREFERENCE">
  </app-preference-group>
  <app-preference-group [preference$]="textSummary$" [i18n]="TEXT_SUMMARY_PREFERENCE">
  </app-preference-group>
</aside>
<div class="card-container">
  <app-card *ngFor="let meta of componentMetas" [meta]="meta"></app-card>
</div>
