<aside class="sidebar">
  <h2 class="sidebar-title">Customization</h2>
  <app-preference-group title="Audification" [subject]="audification.enabled">
    <app-preference-item name="Lowest note (Hz)" [subject]="audification.lowestPitch"></app-preference-item>
    <app-preference-item name="Highest note (Hz)" [subject]="audification.highestPitch"></app-preference-item>
    <app-preference-item name="Note duration (ms)" [subject]="audification.noteDuration"></app-preference-item>
    <app-preference-item name="Read out before playing" [subject]="audification.readBefore"></app-preference-item>
    <app-preference-item name="Read out after playing" [subject]="audification.readAfter"></app-preference-item>
  </app-preference-group>
  <app-preference-group title="Data Table" [subject]="dataTable.enabled">
  </app-preference-group>
  <app-preference-group title="Text Summary" [subject]="textSummary.enabled">
  </app-preference-group>
</aside>
<div class="card-container">
  <app-card title="Tabbed Line Chart" [tabbed]="true" type="line"
            [measureNames]="['activeUsers', 'revenue', 'eventCount']"></app-card>
  <app-card title="Line Chart" [tabbed]="false" type="line"
            [measureNames]="['activeUsers', 'revenue', 'eventCount']"></app-card>
</div>
