@import "../../utils/constants";

:host {
  .preference-group {
    margin-bottom: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;

    .header {
      cursor: pointer;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.enabled {
        &:not(:last-child) {
          border-bottom: 1px solid $color-border;
        }

        .title {
          font-weight: 500;
        }
      }

      &.always-enabled {
        cursor: auto;
      }
    }
  }
}
