<div class="hierarchy-wrapper">
  <a class="hierarchy-territory" (click)="territory = null">
    All
  </a>
  <a class="hierarchy-territory" *ngFor="let hierarchyTerritory of hierarchyTerritories"
     (click)="territory = hierarchyTerritory">
    {{hierarchyTerritory.name}}
  </a>
</div>
<div class="svg-wrapper">
  <svg></svg>
</div>
<div class="table-wrapper">
  <div class="navigator">
    <mat-chip-list aria-label="Territory Unit">
      <mat-chip *ngFor="let level of territoryLevels" [selected]="unit === level" (click)="unit = level">
        {{humanizeTerritoryLevel(level)}}
      </mat-chip>
    </mat-chip-list>
    <mat-form-field class="filter">
      <input type="text" matInput placeholder="Filter by Name" [matAutocomplete]="autoGroup"
             [formControl]="keywordControl">
      <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="getTerritoryName"
                        (optionSelected)="territory=$event.option.value" autoActiveFirstOption>
        <mat-optgroup *ngFor="let territoryGroup of filteredTerritoryGroups$ | async"
                      [label]="humanizeTerritoryLevel(territoryGroup.level)">
          <mat-option *ngFor="let territory of territoryGroup.territories"
                      [value]="territory">
            {{territory.name}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="data" class="table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>{{TERRITORY_LEVEL}}</th>
      <td mat-cell *matCellDef="let datum">
        <a (click)="territory = datum.territory">
          {{datum.territory.name}}
        </a>
      </td>
    </ng-container>
    <ng-container *ngFor="let measureName of measureNames" [matColumnDef]="measureName">
      <th mat-header-cell *matHeaderCellDef>{{humanizeMeasureName(measureName)}}</th>
      <td mat-cell *matCellDef="let datum">{{datum.values[measureName]}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let datum; columns: displayedColumns;"></tr>
  </table>
</div>
<ng-template appA11yPlaceholder></ng-template>
<div class="attribution-container">
  <div class="attribution">
    World Cities Database by <a href="https://simplemaps.com/data/world-cities" target="_blank">SimpleMaps.com</a>.
    Data have been transformed.
  </div>
  <div class="attribution">
    Country and Dependent Territories Lists by <a href="https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes"
                                                  target="_blank">Luke Duncalfe on GitHub</a>.
    Data have been transformed.
  </div>
  <div class="attribution">
    World Atlas TopoJSON by <a href="https://github.com/topojson/world-atlas" target="_blank">TopoJSON on GitHub</a>.
    Data have been transformed.
  </div>
</div>
