<div class="svg-wrapper">
  <svg></svg>
</div>
<div class="attribution-container">
  <div class="attribution">
    World Cities Database by <a href="https://simplemaps.com/data/world-cities" target="_blank">SimpleMaps.com</a>. Data have been transformed.
  </div>
  <div class="attribution">
    Country and Dependent Territories Lists by <a href="https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes" target="_blank">Luke Duncalfe on GitHub</a>. Data have been transformed.
  </div>
  <div class="attribution">
    World Atlas TopoJSON by <a href="https://github.com/topojson/world-atlas" target="_blank">TopoJSON on GitHub</a>.
  </div>
</div>
<ng-template appA11yPlaceholder></ng-template>
