<div class="hierarchy-wrapper">
  <a class="hierarchy-territory" (click)="filteringTerritory = null">
    All
  </a>
  <a class="hierarchy-territory" *ngFor="let hierarchyTerritory of hierarchicalTerritories"
     (click)="filteringTerritory = hierarchyTerritory">
    {{hierarchyTerritory.name}}
  </a>
</div>
<div class="svg-wrapper">
  <svg></svg>
</div>
<ng-template appA11yPlaceholder></ng-template>
<div class="table-wrapper">
  <div class="navigator">
    <mat-chip-list aria-label="Territory Unit">
      <mat-chip *ngFor="let level of subordinateTerritoryLevels" [selected]="unit === level" (click)="unit = level">
        {{humanizeTerritoryLevel(level)}}
      </mat-chip>
    </mat-chip-list>
    <mat-form-field class="filter">
      <input type="text" matInput placeholder="Filter by Name" [matAutocomplete]="autoGroup"
             [formControl]="keywordControl" #keyword>
      <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="getTerritoryName"
                        (optionSelected)="handleSearch($event.option.value)" autoActiveFirstOption>
        <mat-optgroup *ngFor="let territoryGroup of filteredTerritoryGroups$ | async"
                      [label]="humanizeTerritoryLevel(territoryGroup.level)">
          <mat-option *ngFor="let territory of territoryGroup.territories"
                      [value]="territory">
            {{territory.name}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="data" class="table">
    <ng-container matColumnDef="ranking">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let datumIndex = index">
        {{datumIndex + 1}}.
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>
        {{TERRITORY_LEVEL}}
      </th>
      <td mat-cell *matCellDef="let datum">
        <a (click)="handleClickRow(datum)">
          {{datum.territory.name}}
        </a>
      </td>
    </ng-container>
    <ng-container *ngFor="let measureName of measureNames; let measureIndex = index" [matColumnDef]="measureName">
      <th mat-header-cell *matHeaderCellDef>
        {{humanizeMeasureName(measureName)}}
      </th>
      <td mat-cell *matCellDef="let datum" [class.active]="measureIndex === activeMeasureIndex">
        {{formatY(datum.values[measureName])}}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let datum; let datumIndex = index; columns: displayedColumns"
        [class.active]="datumIndex === activeDatumIndex"></tr>
  </table>
</div>
<div class="attribution-container">
  <div class="attribution">
    World Cities Database by <a href="https://simplemaps.com/data/world-cities" target="_blank">SimpleMaps.com</a>.
    Data have been transformed.
  </div>
  <div class="attribution">
    Country and Dependent Territories Lists by <a href="https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes"
                                                  target="_blank">Luke Duncalfe on GitHub</a>.
    Data have been transformed.
  </div>
  <div class="attribution">
    World Atlas TopoJSON by <a href="https://github.com/topojson/world-atlas" target="_blank">TopoJSON on GitHub</a>.
    Data have been transformed.
  </div>
</div>
