@import "../../utils/constants";

:host {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  overflow: hidden;

  .hierarchy-wrapper {
    @include card-section;
    //padding: .5rem 1.5rem;

    .hierarchy-territory {
      &:not(:last-child):after {
        white-space: pre;
        content: " > ";
        color: $color-font;
        font-weight: 300;
      }
    }
  }

  .svg-wrapper {
    @include card-section;
    padding: 0;
    box-sizing: content-box;
    position: relative;

    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .table-wrapper {
    @include card-section;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .navigator {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .filter {
        width: 200px;
      }
    }

    .table {
    }
  }

  .attribution-container {
    @include card-section;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    font-size: $font-size-small;
  }
}
