@import "../../utils/constants";

:host {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  overflow: hidden;

  .svg-wrapper {
    box-sizing: content-box;
    position: relative;

    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
