@import "./utils/constants";
@import "https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto:wght@300;500&display=swap";

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size: $font-size-medium;
  color: $color-font;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
